<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="aspnetTitle">Сервис печати</h1>
        <p class="lead">Сервис генерация PDF документов для Тур Менеджер CRM</p>
    </section>
</main>